<%- include("partials/headerAdmin"); -%>

<div class="container" style="padding-top: 10%;">
    <div class="row">
        <div class="col-md-6 m-auto">
            <h1 class="text-centre display-4 my-4" style="color:#6d655e">Home</h1>
            <form action="/upload" method="POST" enctype="multipart/form-data" >
                <div class="custom-file mb-3">
                    <div class="custom-file">
                    <input type="file" name="file" class="custom-file-input" id="file">
                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                    </div>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-primary btn-lg btn-block" >Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <%- include("partials/footer"); -%> -->
<%- include("partials/footer"); -%>